<mat-card class="w-Full h-full max-h-[300px] rounded-xl">
  <div class="h-8/12 overflow-hidden">
    <img class="flex min-w-full min-h-full" mat-card-image src="{{ cardData?.imgUrl }}" alt="{{ cardData?.description }}">
  </div>
  <mat-card-content class="h-2/12">
    <div class="flex justify-between my-[0.5rem]">
      <mat-card-title>{{ cardData?.userName }}</mat-card-title>
      <mat-card-subtitle>{{ cardData?.category }}</mat-card-subtitle>
    </div>
    <p class="overflow-auto">
      {{ cardData?.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="h-2/12 mt-auto">
    <button  mat-flat-button color="warn" class="bg-[#ff2e6b] w-full py-[5rem]" (click)="openHelp()">
      Ajudar
    </button>
  </mat-card-actions>
</mat-card>
