<main class="w-full h-full md:h-screen flex flex-col md:flex-row">
    <section class="w-full md:w-1/2 h-full flex flex-col justify-between">  
      <form class="p-[1.5rem] sm:p-[3rem] md:m-0 h-5/6 flex flex-col justify-center gap-4 items-center self-center w-full md:w-[28rem] lg:w-[37rem]" [formGroup]="registerForm" (submit)="createHelpProvided()">
        <div>
          <h1 class="font-boldn mb-[1rem]">Registre-se grátis</h1>
          <p>Seja bem vindo! Estamos felizes em tê-lo na nossa rede de apoio</p>
        </div>
        <mat-form-field class="w-full">
          <mat-label>Valor</mat-label>
          <input type="text" matInput formControlName="value" placeholder="valor" mask="separator.2" thousandSeparator="." prefix="R$ " separatorLimit="1000000">
          @if (registerForm.get('value')?.hasError('required')) {
            <mat-error>Valor é <strong>obrigatório</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Data de realização do help</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="executionDate">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (registerForm.get('executionDate')?.hasError('required')) {
                <mat-error>Data é <strong>obrigatória</strong></mat-error>
            }
        </mat-form-field>
  
        <div class="w-full h-full">
          <button [disabled]="registerForm.invalid" mat-flat-button color="warn" class="bg-[#ff2e6b] w-full py-[5rem]" type="submit">
            Cadastar ajuda realizada
          </button>
        </div>
      </form>
    </section>
  
    <section class="w-full sm:p-[3rem] md:w-1/2 flex justify-start items-start">
        <details-help [help]="help" [showButton]="false"/>
    </section>
  </main>
  
